@import 'colors';

$primary: mat-palette($mat-blue-grey);
$accent:  mat-palette($pip-blue-grey, 300, A100, A400);
$warn:    mat-palette($mat-red, A200);
$theme:   mat-light-theme($primary, $accent, $warn);