@import '~@angular/material/theming';
@import 'components';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define an alternate dark theme.
$pip-bootbarn-warm-primary: mat-palette($pip-bootbarn-deep-orange, 900);
$pip-bootbarn-warm-accent:  mat-palette($pip-bootbarn-teal, A700, A100, A400);
$pip-bootbarn-warm-warn:    mat-palette($mat-red, A200);
$pip-bootbarn-warm-theme:   mat-light-theme($pip-bootbarn-warm-primary, $pip-bootbarn-warm-accent, $pip-bootbarn-warm-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.pip-bootbarn-warm-theme {
  @include angular-material-theme($pip-bootbarn-warm-theme);
}