<mat-sidenav-container class="content">
  <mat-toolbar color="primary" class="mat-elevation-z6 example-appbar">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="start center" fxFlex="grow">
      <span fxFlex="grow">{{app}}</span>

      <button mat-icon-button [matMenuTriggerFor]="menu" style="margin-right: 8px">
        <mat-icon>format_color_fill</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button *ngFor="let th of themes" mat-menu-item (click)="changeTheme(th)">
          {{ th?.displayName || th?.name }}
          <mat-icon *ngIf="th.name === theme.name" style="margin-bottom: 10px">check</mat-icon>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>

  <div fxLayout="row" style="height: calc(100% - 68px);">
    <div fxFlex="grow" style="width: calc(100% - 300px); 
                          overflow: auto">
      <div class="router">

        <h2>Изменение картинки в зависимости от светлой или темной темы</h2>
        <img [src]="picture" class="app-pic">
        <div>

          <h2>Стилизация custom компонента</h2>
          <pip-test [text]="newText"></pip-test>



          <h2>Проверка работы material контролов для разных тем</h2>
          <mat-toolbar color="primary">
            <mat-toolbar-row>Custom Toolbar</mat-toolbar-row>

            <mat-toolbar-row>
              <span>Second Line</span>
              <span class="example-spacer"></span>
              <mat-icon class="example-icon">verified_user</mat-icon>
              <button mat-raised-button color="accent">Accent on primary</button>
              <button mat-raised-button color="warn">Warn on primary</button>
            </mat-toolbar-row>

            <mat-toolbar-row>
              <span>Third Line</span>
              <span class="example-spacer"></span>
              <mat-icon class="example-icon">favorite</mat-icon>
              <mat-icon class="example-icon">delete</mat-icon>
            </mat-toolbar-row>
          </mat-toolbar>

          <h3>Basic Buttons</h3>
          <div class="button-row">
            <button mat-button>Basic</button>
            <button mat-button color="primary">Primary</button>
            <button mat-button color="accent">Accent</button>
            <button mat-button color="warn">Warn</button>
            <button mat-button disabled>Disabled</button>
            <a mat-button routerLink=".">Link</a>
          </div>

          <h3>Raised Buttons</h3>
          <div class="button-row">
            <button mat-raised-button>Basic</button>
            <button mat-raised-button color="primary">Primary</button>
            <button mat-raised-button color="accent">Accent</button>
            <button mat-raised-button color="warn">Warn</button>
            <button mat-raised-button disabled>Disabled</button>
            <a mat-raised-button routerLink=".">Link</a>
          </div>

          <h3>Stroked Buttons</h3>
          <div class="button-row">
            <button mat-stroked-button>Basic</button>
            <button mat-stroked-button color="primary">Primary</button>
            <button mat-stroked-button color="accent">Accent</button>
            <button mat-stroked-button color="warn">Warn</button>
            <button mat-stroked-button disabled>Disabled</button>
            <a mat-stroked-button routerLink=".">Link</a>
          </div>

          <h3>Fab Buttons</h3>
          <div class="button-row">
            <button mat-fab>Basic</button>
            <button mat-fab color="primary">Primary</button>
            <button mat-fab color="accent">Accent</button>
            <button mat-fab color="warn">Warn</button>
            <button mat-fab disabled>Disabled</button>
            <button mat-fab>
              <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
            </button>
            <a mat-fab routerLink=".">Link</a>
          </div>

          <h3>Mini Fab Buttons</h3>
          <div class="button-row">
            <button mat-mini-fab>Basic</button>
            <button mat-mini-fab color="primary">Primary</button>
            <button mat-mini-fab color="accent">Accent</button>
            <button mat-mini-fab color="warn">Warn</button>
            <button mat-mini-fab disabled>Disabled</button>
            <button mat-mini-fab>
              <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
            </button>
            <a mat-mini-fab routerLink=".">Link</a>
          </div>
        </div>

        <h2>pip classes</h2>
        <div class="pip-title">pip-title</div>
        <div class="pip-subtitle">pip-subtitle</div>
        <div class="pip-error">pip-error</div>
        <div class="pip-success">pip-success</div>
        <div class="pip-link">pip-link</div>

        <h2>Forms</h2>
        <mat-form-field>
          <input matInput placeholder="Simple field">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Field with error" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
</mat-sidenav-container>