/* Import or define your theme-based mixins */

@mixin some-module-mixin($theme) {
    $primary: map-get($theme, primary);

    .primary-text {
        color: mat-color($primary);
    }

    .primary-background {
        background-color: mat-color($primary);
    }
}

/* And call them! */
@include some-module-mixin($theme);