.app-pic {
    height: 300px;
    max-width: 100%;
}

.content {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    overflow: hidden
}

::ng-deep .router {
    flex: 1 1 100%;
    padding: 16px;
}

::ng-deep .mat-toolbar .mat-select-value {
    color: #fff !important;
    text-align: end !important;
}

::ng-deep .mat-form-field-underline {
    display: none !important;
}

::ng-deep .mat-input-infix {
    width: 200px;
}

.router {
    display: block;
    max-width: 700px;
    margin: 0 auto;
    padding: 16px;
    font-family: Roboto;
}

.example-appbar {
    z-index: 10;
    position: relative;
}